h1 {
    border: 5px #eee solid;
    background-color: #ffe6e6;
    color: #DC143C;
    text-align: center;
    padding: 10px;
    font: "Palatino", "URW Palladio L", serif;
}

h3 {
    color: #DC143C;
    text-align: center;
    font-family: "Garamond", garamond, serif;
}

body {
    background-image: url('annenberg.jpg');
}
