h1 {
    border: 5px #eee solid;
    color: #DC143C;
    text-align: center;
    padding: 10px;
    font-family: "Garamond", garamond, serif
}

h3 {
    color: #DC143C;
    text-align: center;
    font-family: "Garamond", garamond, serif
}

